<form action="file/upload" method="GET" style="display: inline">
  <button type="submit" class="btn btn-primary">Upload a File</button>
</form>

<form action="user/logout" method="POST" style="display: inline">
  <button type="submit" class="btn btn-danger">Logout</button>
</form>

<form action="/folder/create" method="POST" style="display: inline">
  <input type="text" name="folderName" class="form-control d-inline w-auto" placeholder="Folder Name" required>
  <button type="submit" class="btn btn-success">Create Folder</button>
</form>
