<form action="file/upload" method="GET" style="display: inline">
  <button type="submit" class="btn btn-primary">Upload a File</button>
</form>

<form action="user/logout" method="POST" style="display: inline">
  <button type="submit" class="btn btn-danger">Logout</button>
</form>
