<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head') %>

  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
      <%- body %>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
