<div class="card shadow-sm p-4 mx-auto mt-5" style="max-width: 400px">
  <h2 class="text-center mb-3">Upload a File</h2>
  <form action="/file/upload" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="file" class="form-label">Choose a file</label>
      <input type="file" class="form-control" id="file" name="file" required />
    </div>
    <div class="mb-3">
      <label for="folder" class="form-label"
        >Choose Folder (optional):</label
      >
      <select name="folderId" class="form-select">
        <option value="">No Folder</option>
        <% folders.forEach(folder => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Upload</button>
  </form>

  <% if (successMessage && successMessage.length > 0) { %>
  <div class="alert alert-success text-center mt-4"><%= successMessage %></div>
  <% } %> <% if (errorMessage && errorMessage.length > 0) { %>
  <div class="alert alert-danger text-center mt-4"><%= errorMessage %></div>
  <% } %>
  <a href="/" class="mt-2">Don't want to upload files? Go back here.</a>
</div>
